
Name: CSV data retrieving functions
    
Author: Nyasha Masamba
    
Get data from CSV files, ready for manipulation with Python tools.

In [1]:

import pandas as pd

In [2]:

# Method 1: use read_csv
# import 5 years worth of BARC (LSE-listed) stock data
barc_data1 = pd.read_csv('market_data/BARC.L.csv')

In [3]:

barc_data1[:5]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-09-16,282.665985,286.269012,278.001007,282.112000,250.591934,53489132
1,2013-09-17,281.927002,282.204010,273.013000,276.200012,245.340515,73143097
2,2013-09-18,284.000000,297.295013,275.350006,277.200012,246.228760,75208440
3,2013-09-19,282.200012,282.200012,277.500000,278.299988,247.205795,81062189
4,2013-09-20,277.850006,277.950012,272.700012,273.450012,242.897705,99305712

In [4]:

# Method 2: use read_table (also from pandas library)
barc_data2 = pd.read_table('market_data/BARC.L.csv', sep=',')

In [5]:

barc_data2[:5]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-09-16,282.665985,286.269012,278.001007,282.112000,250.591934,53489132
1,2013-09-17,281.927002,282.204010,273.013000,276.200012,245.340515,73143097
2,2013-09-18,284.000000,297.295013,275.350006,277.200012,246.228760,75208440
3,2013-09-19,282.200012,282.200012,277.500000,278.299988,247.205795,81062189
4,2013-09-20,277.850006,277.950012,272.700012,273.450012,242.897705,99305712

In [6]:

# Method 3: download directly from the site using the URL
# This method will require some data cleaning and parsing
url = 'https://uk.finance.yahoo.com/quote/BARC.L/history?period1=1536447600&period2=1536879600&interval=1d&filter=history&frequency=1d'
barc_data3 = pd.read_html(url)

In [7]:

# downloaded 5 days worth of BARC data directly from Yahoo Finance
barc_data3

[                                                Date    Open    High     Low  \
 0                                        14 Sep 2018  172.00  172.42  171.00
 1                                        13 Sep 2018  172.64  174.32  171.74
 2                                        12 Sep 2018  174.50  174.74  171.74
 3                                        11 Sep 2018  176.58  176.80  173.70
 4                                        10 Sep 2018  174.64  177.26  173.50
 5  *Close price adjusted for splits.**Adjusted cl...     NaN     NaN     NaN

    Close*  Adj. close**       Volume
 0  171.08        171.08   52296269.0
 1  172.20        172.20   37694060.0
 2  172.22        172.22   44363997.0
 3  174.74        174.74   46928387.0
 4  176.80        176.80  108272589.0
 5     NaN           NaN          NaN  ,
                                                    0   1
 0  By using Yahoo you agree that Yahoo and partne... NaN
 1  *Close price adjusted for splits.**Adjusted cl... NaN]

In [8]:

# Method 4
url='http://canisius.edu/~yany/data/ibm.csv'
x=pd.read_csv(url)
print(x.head())

         Date      Open      High       Low     Close  Adj Close    Volume
0  1962-01-01  7.713333  7.713333  7.003334  7.226666   2.077531   8760000
1  1962-02-01  7.300000  7.480000  7.093333  7.160000   2.058365   5737600
2  1962-03-01  7.186666  7.413333  7.070000  7.103333   2.042352   5344000
3  1962-04-01  7.100000  7.100000  6.000000  6.053333   1.740458  12851200
4  1962-05-01  6.053333  6.530000  4.733333  5.233333   1.504689  49307200