
Name: CSV data retrieving functions
    
Author: Nyasha Masamba
    
Get data from CSV files, ready for manipulation with Python tools.

In [2]:

import pandas as pd

In [6]:

# Method 1: use read_csv
# import 5 years worth of BARC (LSE-listed) stock data
barc_data1 = pd.read_csv('market_data/BARC.L.csv')

In [7]:

barc_data1[:5]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-09-16,282.665985,286.269012,278.001007,282.112000,250.591934,53489132
1,2013-09-17,281.927002,282.204010,273.013000,276.200012,245.340515,73143097
2,2013-09-18,284.000000,297.295013,275.350006,277.200012,246.228760,75208440
3,2013-09-19,282.200012,282.200012,277.500000,278.299988,247.205795,81062189
4,2013-09-20,277.850006,277.950012,272.700012,273.450012,242.897705,99305712

In [10]:

# Method 2: use read_table (also from pandas library)
barc_data2 = pd.read_table('market_data/BARC.L.csv', sep=',')

In [11]:

barc_data2[:5]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-09-16,282.665985,286.269012,278.001007,282.112000,250.591934,53489132
1,2013-09-17,281.927002,282.204010,273.013000,276.200012,245.340515,73143097
2,2013-09-18,284.000000,297.295013,275.350006,277.200012,246.228760,75208440
3,2013-09-19,282.200012,282.200012,277.500000,278.299988,247.205795,81062189
4,2013-09-20,277.850006,277.950012,272.700012,273.450012,242.897705,99305712

In [13]:

# Method 3: download directly from the site using the URL
# This method will require some data cleaning and parsing
url = 'https://uk.finance.yahoo.com/quote/BARC.L/history?period1=1536447600&period2=1536879600&interval=1d&filter=history&frequency=1d'
barc_data3 = pd.read_html(url)

In [14]:

# downloaded 5 days worth of BARC data directly from Yahoo Finance
barc_data3

[                                                Date    Open    High     Low  \
 0                                        13 Sep 2018  172.64  174.32  171.74
 1                                        12 Sep 2018  174.50  174.74  171.74
 2                                        11 Sep 2018  176.58  176.80  173.70
 3                                        10 Sep 2018  174.64  177.26  173.50
 4  *Close price adjusted for splits.**Adjusted cl...     NaN     NaN     NaN

    Close*  Adj. close**       Volume
 0  172.20        172.20   37694060.0
 1  172.22        172.22   44363997.0
 2  174.74        174.74   46928387.0
 3  176.80        176.80  108272589.0
 4     NaN           NaN          NaN  ,
                                                    0   1
 0  By using Yahoo you agree that Yahoo and partne... NaN
 1  *Close price adjusted for splits.**Adjusted cl... NaN]