In [8]:

import pandas as pd
from scipy import stats

# pd.core.common.is_list_like = pd.api.types.is_list_like
#import pandas_datareader.data as dataRetrieve
#import datetime

In [9]:

#beg_date = datetime.datetime(2012, 1, 5)
#end_date = datetime.datetime(2012, 12, 1)
#df = dataRetrieve.get_data_yahoo('IBM') # always worth trying both yahoo and google in case one fails
#df.head()

In [10]:

df = pd.read_csv('market_data/BARC.L.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-09-16,282.665985,286.269012,278.001007,282.112000,250.591934,53489132
1,2013-09-17,281.927002,282.204010,273.013000,276.200012,245.340515,73143097
2,2013-09-18,284.000000,297.295013,275.350006,277.200012,246.228760,75208440
3,2013-09-19,282.200012,282.200012,277.500000,278.299988,247.205795,81062189
4,2013-09-20,277.850006,277.950012,272.700012,273.450012,242.897705,99305712

In [11]:

close_series = df['Adj Close']
close_series[:5]

0    250.591934
1    245.340515
2    246.228760
3    247.205795
4    242.897705
Name: Adj Close, dtype: float64

In [12]:

# note that shift is applied to second argument as series is ascending
# express returns as percentage
returns_series = (close_series/close_series.shift(1)-1) * 100
returns_series

0            NaN
1      -2.095606
2       0.362046
3       0.396800
4      -1.742714
5      -2.596450
6       1.914774
7       0.571000
8      -1.391941
9      -1.263003
10     -0.112873
11      1.619586
12      1.019263
13      0.165125
14     -0.604392
15      0.442212
16     -1.596008
17     -0.149146
18      2.501867
19      1.275045
20     -0.413658
21      1.083593
22      1.357888
23     -1.886143
24     -0.161682
25     -1.115719
26     -0.782539
27     -1.614065
28     -0.652492
29      0.544193
          ...
1234   -2.691705
1235    1.157926
1236   -0.074189
1237    0.424267
1238    1.985632
1239    0.461654
1240   -2.015666
1241   -1.673417
1242   -0.292679
1243   -2.261363
1244    1.323687
1245    0.230548
1246    0.613360
1247    0.370125
1248    0.433841
1249   -1.112310
1250    0.283939
1251    0.021776
1252   -1.230264
1253   -1.730599
1254   -1.458220
1255    1.035861
1256    1.971609
1257   -1.668326
1258   -1.011238
1259   -0.964811
1260    1.318053
1261   -1.165157
1262   -1.442145
1263   -0.011615
Name: Adj Close, Length: 1264, dtype: float64

In [13]:

returns_series.describe()

count    1263.000000
mean       -0.012465
std         1.840747
min       -17.678528
25%        -0.990814
50%         0.000000
75%         0.923227
max         8.200400
Name: Adj Close, dtype: float64

In [14]:
# see if the mean return is statistically significant from 0
# perform two-sided T-test for ONE group of scores
print(stats.ttest_1samp(returns_series[1:-1],0.0))

Ttest_1sampResult(statistic=-0.24048528435308453, pvalue=0.8099931601242323)

In [ ]:

# The low t-statistic and high p-value show there is no significant statistical difference between
# the returns given by barclays from a mean of 0. There is no strong evidence against the null hypothesis.