In [1]:

import pandas as pd
import numpy as np
from scipy import stats

In [2]:
def get_stock_series(path):
    series = pd.read_csv(path)
    return series

In [3]:

df1 = get_stock_series('market_data/BARC.L.csv')
df1.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1259,2018-09-07,176.220001,176.279999,172.419998,174.500000,174.500000,55377621
1260,2018-09-10,174.639999,177.259995,173.500000,176.800003,176.800003,108272589
1261,2018-09-11,176.580002,176.800003,173.699997,174.740005,174.740005,46928387
1262,2018-09-12,174.500000,174.740005,171.740005,172.220001,172.220001,44363997
1263,2018-09-13,172.639999,174.320007,171.740005,172.199997,172.199997,37694060

In [4]:

df2 = get_stock_series('market_data/yahoofinance-GOOG-20040819-20180120.csv')
df2.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3374,2018-01-12,1102.410034,1124.290039,1101.150024,1122.260010,1122.260010,1720500
3375,2018-01-16,1132.510010,1139.910034,1117.832031,1121.760010,1121.760010,1575300
3376,2018-01-17,1126.219971,1132.599976,1117.010010,1131.979980,1131.979980,1202600
3377,2018-01-18,1131.410034,1132.510010,1117.500000,1129.790039,1129.790039,1198200
3378,2018-01-19,1131.829956,1137.859985,1128.300049,1137.510010,1137.510010,1387700

In [5]:

def get_returns(df_name):
    close_series = df_name['Adj Close']
    returns_series = (close_series/close_series.shift(1)-1) * 100
    return returns_series

In [6]:

barc_ret = get_returns(df1)
barc_ret[:5]

0         NaN
1   -2.095606
2    0.362046
3    0.396800
4   -1.742714
Name: Adj Close, dtype: float64

In [7]:

goog_ret = get_returns(df2)
goog_ret[:5]

0         NaN
1    7.942992
2    1.006368
3   -4.140765
4    1.077523
Name: Adj Close, dtype: float64

In [8]:
barc_mean = np.mean(barc_ret)
barc_mean

-0.012465268325037119

In [9]:

goog_mean = np.mean(goog_ret)
goog_mean

0.11085664118743072

In [11]:

# 2-sample t-test for BARC vs GOOG mean returns
stats.ttest_ind(barc_ret[1:-1], goog_ret[1:-1])

Ttest_indResult(statistic=-1.9652749865821764, pvalue=0.04944202043811904)

In [ ]:

# High t-statistic and low p-value (<alpha = 0.05) show there is a significant statistical difference between
# the two distributions. We reject null hypothesis and conclude that there's a statistically 
# significant difference between the two returns series.