In [12]:

import pandas as pd
import numpy as np
from scipy import stats

In [13]:
def get_stock_series(path):
    series = pd.read_csv(path)
    return series

In [14]:

df1 = get_stock_series('market_data/yahoofinance-AAPL-20040819-20180120.csv')
df1.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2004-08-19  2.250714  2.275714  2.168571  2.193571   1.966391   97230000
1  2004-08-20  2.193571  2.213571  2.177857  2.200000   1.972154   79195200
2  2004-08-23  2.204286  2.233572  2.185714  2.220000   1.990082   63665000
3  2004-08-24  2.232857  2.282143  2.227857  2.282143   2.045789   93534000
4  2004-08-25  2.276428  2.367857  2.266428  2.360714   2.116223  126404600

In [15]:

df2 = get_stock_series('market_data/yahoofinance-GOOG-20040819-20180120.csv')
df2.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [16]:

def get_returns(df_name):
    close_series = df_name['Adj Close']
    returns_series = (close_series/close_series.shift(1)-1) * 100
    return returns_series

In [17]:

aapl_ret = get_returns(df1)
aapl_ret[:5]

0         NaN
1    0.293075
2    0.909057
3    2.799231
4    3.442877
Name: Adj Close, dtype: float64

In [18]:

goog_ret = get_returns(df2)
goog_ret[:5]

0         NaN
1    7.942992
2    1.006368
3   -4.140765
4    1.077523
Name: Adj Close, dtype: float64

In [19]:
# Bartlett's test tests H0 which suggests all input samples are from populations with equal variances.
# The score below suggests moderate risk difference between AAPL and GOOG, but not enough to reject H0
# For most intents and purposes, AAPL and GOOG returns are as risky as each other
stats.bartlett(aapl_ret[1:-1], goog_ret[1:-1])

BartlettResult(statistic=25.201921763648663, pvalue=5.163072419413833e-07)

In [21]:

goog_sd = np.std(goog_ret)
goog_sd

1.9199756326525284

In [22]:

aapl_sd = np.std(aapl_ret)
aapl_sd

2.09336350527292