In [1]:

from scipy import stats
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [2]:

df_lmt = pd.read_csv('market_data/LMT_pegged.csv')
close_series = df_lmt['Adj Close']
returns_series_lmt = (close_series/close_series.shift(1)-1)

df_mkt = pd.read_csv('market_data/SP500_pegged.csv')
close_series = df_mkt['Adj Close']
returns_series_mkt = (close_series/close_series.shift(1)-1)

In [3]:

(beta, alpha, r_value, p_value, std_err) = stats.linregress(returns_series_mkt[1:], returns_series_lmt[1:])

In [4]:

print("alpha: ", alpha)
print("beta: ", beta)
print("R-squared: ", r_value ** 2)
print("p-value: ", p_value)

alpha:  0.0004675422012350162
beta:  0.6828851859573798
R-squared:  0.378037478890509
p-value:  1.471835547874764e-287

In [5]:

df_lmt['Date'] = pd.to_datetime(df_lmt['Date'], errors='coerce')
lag_year = df_lmt['Date'].dt.strftime('%Y')
y1 = []
x1 = []
beta = []
index0 = []


for i in range(len(df_lmt)):
    year = df_lmt['Date'].dt.strftime('%Y')[i]
    if (year == lag_year):
        x1.append(returns_series_lmt[i])
        y1.append(returns_series_mkt[i])
    else:
        (beta, alpha, r_value, p_value, std_err) = stats.linregress(returns_series_mkt[1:], returns_series_lmt[1:])
        alpha = round(alpha,3)
        beta = round(beta, 3)
        r_value = round(r_value, 3)
        p_value = round(p_value, 3)
        print(year, beta, alpha, r_value, p_value)
        x1 = []
        y1 = []
        lag_year = year

In [6]:

df_lmt['Date'] = pd.to_datetime(df_lmt['Date'], errors='coerce')
df_lmt.set_index('Date', inplace=True)

df_lmt['Log Ret'] = np.log(df_lmt['Adj Close']) - np.log(df_lmt['Adj Close'].shift(1))

yearly_lmt = df_lmt.resample('BA').asfreq()
yearly_lmt

,Open,High,Low,Close,Adj Close,Volume,Log Ret
Date,,,,,,,
2007-12-31,106.309998,107.250000,105.260002,105.260002,73.539192,1329500.0,-0.014337
2008-12-31,84.290001,84.970001,83.930000,84.080002,59.890747,1562800.0,-0.002495
2009-12-31,76.300003,76.389999,75.190002,75.349998,55.347759,1414000.0,-0.010167
2010-12-31,68.830002,69.959999,68.650002,69.910004,53.223824,2489600.0,0.017605
2011-12-30,81.650002,81.860001,80.860001,80.900002,64.243454,1474700.0,-0.007635
2012-12-31,90.800003,92.400002,89.720001,92.290001,76.781387,1999200.0,0.010347
2013-12-31,147.309998,148.860001,147.309998,148.660004,129.080185,693000.0,0.011365
2014-12-31,194.910004,195.970001,192.520004,192.570007,173.988358,706500.0,-0.014742
2015-12-31,219.580002,219.949997,215.779999,217.149994,202.147690,1157800.0,-0.012130
2016-12-30,250.529999,251.320007,248.779999,249.940002,239.285477,1058100.0,-0.002597
2017-12-29,322.220001,323.149994,321.019989,321.049988,315.296844,731200.0,-0.003265
2018-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN