In [1]:

from scipy import stats
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [2]:

df_lmt = pd.read_csv('market_data/LMT_pegged.csv')
#close_series = df_lmt['Adj Close']
#returns_series_lmt = (close_series/close_series.shift(1)-1)

df_mkt = pd.read_csv('market_data/SP500_pegged.csv')
#close_series = df_mkt['Adj Close']
#returns_series_mkt = (close_series/close_series.shift(1)-1)

In [3]:

#(beta, alpha, r_value, p_value, std_err) = stats.linregress(returns_series_mkt[1:], returns_series_lmt[1:])

#print("alpha: ", alpha)
#print("beta: ", beta)
#print("R-squared: ", r_value ** 2)
#print("p-value: ", p_value)

In [4]:

df_lmt['Date'] = pd.to_datetime(df_lmt['Date'], errors='coerce')
df_lmt.set_index('Date', inplace=True)

df_lmt['Log Ret'] = np.log(df_lmt['Adj Close']) - np.log(df_lmt['Adj Close'].shift(1))

yearly_lmt = df_lmt.resample('BA').asfreq()[:-1] # annual log returns (excluding current year)
yearly_lmt

,Open,High,Low,Close,Adj Close,Volume,Log Ret
Date,,,,,,,
2007-12-31,106.309998,107.250000,105.260002,105.260002,73.539192,1329500.0,-0.014337
2008-12-31,84.290001,84.970001,83.930000,84.080002,59.890747,1562800.0,-0.002495
2009-12-31,76.300003,76.389999,75.190002,75.349998,55.347759,1414000.0,-0.010167
2010-12-31,68.830002,69.959999,68.650002,69.910004,53.223824,2489600.0,0.017605
2011-12-30,81.650002,81.860001,80.860001,80.900002,64.243454,1474700.0,-0.007635
2012-12-31,90.800003,92.400002,89.720001,92.290001,76.781387,1999200.0,0.010347
2013-12-31,147.309998,148.860001,147.309998,148.660004,129.080185,693000.0,0.011365
2014-12-31,194.910004,195.970001,192.520004,192.570007,173.988358,706500.0,-0.014742
2015-12-31,219.580002,219.949997,215.779999,217.149994,202.147690,1157800.0,-0.012130
2016-12-30,250.529999,251.320007,248.779999,249.940002,239.285477,1058100.0,-0.002597
2017-12-29,322.220001,323.149994,321.019989,321.049988,315.296844,731200.0,-0.003265

In [5]:

df_mkt['Date'] = pd.to_datetime(df_mkt['Date'], errors='coerce')
df_mkt.set_index('Date', inplace=True)

df_mkt['Log Ret'] = np.log(df_mkt['Adj Close']) - np.log(df_mkt['Adj Close'].shift(1))

yearly_mkt = df_mkt.resample('BA').asfreq()[:-1] # annual log returns (excluding current year)
yearly_mkt

,Open,High,Low,Close,Adj Close,Volume,Log Ret
Date,,,,,,,
2007-12-31,1475.250000,1475.829956,1465.130005,1468.359985,1468.359985,2.440880e+09,-0.006875
2008-12-31,890.590027,910.320007,889.669983,903.250000,903.250000,4.172940e+09,0.014059
2009-12-31,1126.599976,1127.640015,1114.810059,1115.099976,1115.099976,2.076990e+09,-0.010100
2010-12-31,1256.760010,1259.339966,1254.189941,1257.640015,1257.640015,1.799770e+09,-0.000191
2011-12-30,1262.819946,1264.119995,1257.459961,1257.599976,1257.599976,2.271850e+09,-0.004301
2012-12-31,1402.430054,1426.739990,1398.109985,1426.189941,1426.189941,3.204330e+09,0.016800
2013-12-31,1842.609985,1849.439941,1842.410034,1848.359985,1848.359985,2.312840e+09,0.003952
2014-12-31,2082.110107,2085.580078,2057.939941,2058.899902,2058.899902,2.606070e+09,-0.010364
2015-12-31,2060.590088,2062.540039,2043.619995,2043.939941,2043.939941,2.655330e+09,-0.009456
2016-12-30,2251.610107,2253.580078,2233.620117,2238.830078,2238.830078,2.670900e+09,-0.004648
2017-12-29,2689.149902,2692.120117,2673.610107,2673.610107,2673.610107,2.443490e+09,-0.005197

In [6]:

returns_series_lmt = df_lmt['Log Ret']
returns_series_mkt = df_mkt['Log Ret']

(beta, alpha, r_value, p_value, std_err) = stats.linregress(returns_series_mkt[1:], returns_series_lmt[1:])

print("alpha: ", alpha)
print("beta: ", beta)
print("R-squared: ", r_value ** 2)
print("p-value: ", p_value)

alpha:  0.00042254308770995795
beta:  0.6861536580276731
R-squared:  0.3812119667806966
p-value:  1.2376376389513501e-290